

.bg-steel {
  background-color: white;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {

  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 11px;
  margin-bottom: 20px;
  background:white
}

.article-title {
  color: #444444;
  font-size: 1.5rem;
  margin-top:1rem
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;

}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;

 }

.account-heading {
  font-size: 2.5rem;
}


.mom-and-me{
position: fixed
}

.fortune{
position: relative
z-index: 10
}



.list-group-item-light{
 background-color:  #36047f

}

.addtrans{
    background-color: transparent
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #74D8CE;
    background-clip: padding-box;
    border: 1px solid #018174;
    border-radius: .7rem;
    outline: 0;
    box-shadow: 0px 3px 3px 3px #D9D9D9;

}

.modal-header, .modal-body{

    border-radius: .7rem;

}

.custom-btn{
 border-radius: 9px/8px

}

.btn-light{
    background:#dfeaf5

}

.navbar{
padding: .16rem 1rem
}

.fa-info-circle{
 margin-right: .5rem
 margin-left: .5rem
}
.round-navbar{
    border-radius:0 0 18px 18px
}

.line-1 {
  height: 1px;
  background: black;
  z-index:1000
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: .5;
}

.cardd-title{
    position : center;
    width : 150px;
    height : 30px;
    font-family : Inter;
    font-style : normal;
    font-weight: 700;
    font-size : 15px;
    line-height : 18px;

    color :     #40CDBB;
    border :    2px solid white;
}

.boxed {
  border: 0px solid green ;
  background-color: #dfeaf5;
  border-radius: 5px
}

.button-cus{
    width: 180px;
    background: #77D8c0;
    border: 1px solid #74D8CE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 2rem;
}

.button-bg{
    background-color: #008CBA

}

.row{
 margin: auto 20rem 5rem 20rem
}

.custt{
  margin-bottom: 0px;
  margin-top : 15px;
  margin-left : 20px;
  background-color : #74D8CE;
}

.custome-prop{
    margin-left : 200px;
    margin-right : 40px;
}



.btn-secondary{
    background-color: #dfeaf5
     padding-top: .9rem
}

.nikithacss{
    margin-top: .6rem


}
.purenikitha{
    background:  #dfeaf5
}

.nav-item{
    margin-right: 1rem
}

.img-thumbnail {
    padding: 0.2rem;
    background-color: #dfeaf5;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: 50px;

}

.parent {

  padding: 1rem ;
  margin-left: 2rem

}
.child {
  display: inline-block;

}
.shift-input-col1{
margin-right: 1rem
}

.vl {
  border-left: 2px solid white;
  height: 220px;
  position: absolute;
  left: 24%;
  margin-left: -3px;
  top: 6rem;
  z-index:-1
}

.title_shift_middle{
    text: center
}

.button-cus-pre{
    width: 200px;
    background: #74D8CE;
    border: 1px solid #74D8CE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.create-post-img{
    border-radius: 6px

}
.border-bottom-no{
    color:#74D8CE
}

.border-added{
    border: 5px solid red;

}
.make-bold{
font-weight: bold
}

.btn-delete:hover{
    cursor: pointer;
}

.media-body{
    margin-top: 2.7rem
}

