{% extends "layout.html" %}

{% block content %}
<script src="{{ url_for('static', filename='temp.js')}}"></script>


  <h1  style="margin-bottom: 50px; margin-top : 30px;text-align : center;font-weight: 700; font-size:30px;font-family: 'Inter';font-style: normal;">
    Analysis Section
  </h1>


<div class="boxed align-items-center justify-content-center " style="fill: #FFFFFF;opacity:0.69;text-align : center; margin-top : 20px">


  <div class="btn-group-vertical d-grid gap-4" style="text-align : center;">

      <div class="btn btn-default">
        <label for="cc">
        <img src="static\pics\first.svg" class="img-thumbnail rounded-circle" width="50" height="50" style="background-color: lightblue;">
            <button type="button" class="button-cus btn addtrans btn-primary rounded-pill" style="margin-bottom: 0px; margin-top : 15px;margin-left : 20px;background-color : #74D8CE;" data-toggle="modal" data-target="#possibledisease">
      Possible Diseases
    </button>
        </label>
        </div>


     <div class="btn btn-default">
        <label for="cc">
        <img src="static\pics\second.svg" class="img-thumbnail rounded-circle" width="50" height="50" style="background-color: lightblue;">
            <button type="button" class="button-cus btn addtrans btn-primary rounded-pill" style="margin-bottom: 10px; margin-top : 10px;margin-left : 20px;background-color : #74D8CE;" data-toggle="modal" data-target="#possibledisease">
                Chances of Inheritance
            </button>
        </label>
        </div>

     <div class="btn btn-default">
        <label for="cc">
        <img src="static\pics\third.svg" class="img-thumbnail rounded-circle" width="50" height="50" style="background-color: lightblue;">
            <button type="button" class="button-cus btn addtrans btn-primary rounded-pill" style="margin-bottom: 10px; margin-top : 10px;margin-left : 20px;background-color : #74D8CE;" data-toggle="modal" data-target="#possibledisease">
     Recommended Tests
    </button>
        </label>
        </div>


     <div class="btn btn-default">
        <label for="cc">
        <img src="static\pics\fourth.svg" class="img-thumbnail rounded-circle" width="50" height="50" style="background-color: lightblue;">
            <button type="button" class="button-cus btn addtrans btn-primary rounded-pill" style="margin-bottom: 10px; margin-top : 10px;margin-left : 20px;background-color : #74D8CE;" data-toggle="modal" data-target="#possibledisease">
      Possible Symptoms
    </button>
        </label>
        </div>

     <div class="btn btn-default">
        <label for="cc">
        <img src="static\pics\fifth.svg" class="img-thumbnail rounded-circle" width="50" height="50" style="background-color: lightblue;">
            <button type="button" class="button-cus btn addtrans btn-primary rounded-pill" style="margin-bottom: 10px; margin-top : 10px;margin-left : 20px;background-color : #74D8CE;" data-toggle="modal" data-target="#possibledisease">
         Specialist To Consult
    </button>
        </label>
        </div>

  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="possibledisease" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Possible Diseases</h5>

      </div>
      <div class="modal-body">


         <ul>

          <li> {{ disease }} </li>

      </ul>

      </div>

    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="chancesofinheritance" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Chances of Inheritance</h5>

      </div>
      <div class="modal-body">
          <ul>

          <li> {{ disease_catr }} </li>

      </ul>
      </div>

    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="possiblesymptoms" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Possible Symptoms</h5>

      </div>

      <div class="modal-body">

      <ul>
        {% for i in sysm %}
          <li> {{ i }} </li>
        {% endfor %}
      </ul>

      </div>

    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="recommendedtests" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Recommended Tests</h5>

      </div>
      <div class="modal-body">
      <ul>
        {% for i in test %}
          <li> {{ i }} </li>
        {% endfor %}
      </ul>


      </div>

    </div>
  </div>
</div>

{% endblock content %}
